header {
    text-align: center;
    padding: 50px 0;
}

.main_visual .main_slide figure {
    position: relative;
    height: 700px;
}

.main_visual .main_slide figure h2 {
    opacity: 0;
    transform: translateY(100px);
    /* transition: 0.5s; */
    /* 백보장하기 위해 on 에 붙임 */
}

.main_visual .main_slide figure.on h2 {
    opacity: 1;
    transform: translateY(0);
    transition: 0.5s;
}

.main_visual .main_slide figure p {
    opacity: 0;
    transform: translateY(100px);
}

.main_visual .main_slide figure.on p {
    opacity: 1;
    transform: translateY(0);
    transition: 0.5s 0.5s;
}

.main_visual .main_slide figure a {
    opacity: 0;
    transform: translateY(100px);
}

.main_visual .main_slide figure.on a {
    opacity: 1;
    transform: translateY(0);
    transition: 0.5s 1s;
}

.main_visual .main_slide .item01 {
    background: url(../img/mainvisual01.jpg) no-repeat center center/cover;
}

.main_visual .main_slide .item02 {
    background: url(../img/mainvisual02.jpg) no-repeat center center/cover;
}

.main_visual .main_slide .item03 {
    background: url(../img/mainvisual03.jpg) no-repeat center center/cover;
}

.main_visual .main_slide .slick-arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
    font-size: 0;
    width: 100px;
    height: 100px;
    background: transparent;
    border: none;
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
}

.main_visual .main_slide .slick-prev {
    transform: translate(-50%, -50%) rotate(-45deg);
    margin: 0 0 0 -700px;
}

.main_visual .main_slide .slick-next {
    transform: translate(-50%, -50%) rotate(135deg);
    margin: 0 0 0 700px;
}

.main_visual .main_slide .slick-dots {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
}

.main_visual .main_slide .slick-dots li {
    display: inline-block;
    font-size: 0;
    padding: 10px 0;
}

.main_visual .main_slide .slick-dots li button {
    position: relative;
    width: 60px;
    height: 4px;
    background: #333;
    border: none;
    margin: 0 4px;
}

.main_visual .main_slide .box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1200px;
}

.main_visual .main_slide .box h2 {
    font-size: 60px;
    font-weight: 900;
    color: #fff;
    margin: 0 0 20px 0;
    text-shadow: 0 0 3px #000;
}

.main_visual .main_slide .box p {
    font-size: 17px;
    font-weight: 500;
    color: #fff;
    margin: 0 0 20px 0;
    text-shadow: 0 0 3px #000;
}

.main_visual .main_slide .box a {
    display: inline-block;
    border: 1px solid #333;
    background: #333;
    color: #fff;
    padding: 5px 20px 7px 20px;

}

.main_visual .main_slide .item03 {
    text-align: right;
}

.main_visual .main_slide .slick-dots li button::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #f00;
}

.main_visual .main_slide .slick-dots li.slick-active button::after {
    width: 100%;
    transition: 2s;
}

.main_visual .main_slide .slick-dots li.slick-active button {
    /* background: #f00; */
}

.main_visual {
    position: relative;
}

.mopen {
    display: none;
}

img {
    max-width: 100%;
}

nav {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.inner {
    display: flex;
    width: 1200px;
    margin: 0 auto;

}

.inner>li {
    flex: 1;
    text-align: center;
    line-height: 80px;

}

.inner>li~li {
    border-left: 1px solid #ddd;
}

@media (max-width:768px) {
    header {
        position: relative;
        z-index: 999;
        text-align: left;
        padding: 50px 15px;
    }

    .mopen {
        display: block;
        position: fixed;
        top: 30px;
        right: 15px;
        font-size: 0;
        width: 30px;
        height: 30px;
    }

    .mopen::before {
        content: "";
        position: absolute;
        top: 7px;
        left: 5px;
        right: 5px;
        height: 1px;
        background: #333;
    }

    .mopen.on::before {
        display: none;
    }

    .mopen::after {
        content: "";
        position: absolute;
        bottom: 7px;
        left: 5px;
        right: 5px;
        height: 1px;
        background: #333;
    }

    .mopen.on::after {
        display: none;
    }


    .mopen span::before {
        content: "";
        position: absolute;
        top: calc(50% - 0.5px);
        left: 5px;
        right: 5px;
        height: 1px;
        background: #333;
        transition: 0.2s;
    }

    .mopen.on span::before {
        transform: rotate(45deg);
    }

    .mopen span::after {
        content: "";
        position: absolute;
        top: calc(50% - 0.5px);
        left: 5px;
        right: 5px;
        height: 1px;
        background: #333;
        transition: 0.2s;
    }

    .mopen.on span::after {
        transform: rotate(-45deg);
    }

    nav {
        position: fixed;
        top: 0;
        left: -100%;
        background: #fff;
        border-top: 0 solid #ddd;
        border-bottom: 0 solid #ddd;
        width: calc(100% - 70px);
        height: 100vh;
        padding: 120px 0 0 0;
        border-right: 1px solid #ddd;
        transition: 0.5s;
    }

    /* 70px 유지하면서 쪼그라 듬 */
    /* pc 버전은 높이 안줌, 반응형일 때는 높이 줌 */

    nav.on {
        left: 0;
    }

    /* 띄우면 자식, 붙이면 같은 라인 */

    .inner {
        display: flex;
        flex-direction: column;
        width: auto;
        margin: 0 auto;

    }

    .inner>li {
        flex: 1;
        text-align: center;
        line-height: 80px;

    }

    .inner>li~li {
        border-left: 0 solid #ddd;
        border-top: 1px solid #ddd;
    }

}

/* 768px 이하 부터는 다른 css를 적용하라 */
/* 새롭게 안쓴 옵션은 위에껄 그대로 상속받는다 */